*~
*#
.coqdeps.d
Makefile.coq
Makefile.coq.conf
Makefile.coqfast
*.glob
*.vo
*.vok
*.vos
*.aux
.lia.cache
.nia.cache
build
deps.pdf
deps.dot
.envrc
public
html
doc/src/_downloads
doc/sphinx/cache
doc/sphinx/_static/coqdoc
doc/sphinx/_static/css/coqdocjs
doc/sphinx/_static/js/coqdocjs
.Makefile.coq.d
_build
cpp2v-tests/reject/*.ERR
coq-cpp2v.install
coq-cpp2v-bin.install
